body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b0cae7;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


header{
    background-color: #4f5a65;
}

.main-header {
    background-color: rgba(97, 103, 110, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.site-title {
    margin: 0;
    color: #b0cae7;
}

.main-nav {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    padding: 30px;
    color: #b0cae7;
    font-weight: bold;
}

.nav-link:hover {
    color: #5957b1;
}

.login {
    background-color: #000;
}

h1 {
    font-size: 2em;
    margin-top: 50px;
    color: #4f5a65;
}

h2 {
    font-size: 1.4em;
    margin-top: 10px;
    color: #4f5a65;
}

ul {
    list-style-type: none; 
    padding: 0;
    color: #2e3134;
    max-width: 600px; 
    margin: 0 auto; 
}

li {
    margin-bottom: 25px; 
    text-align: left; 
    font-size: 1.2em; 
}

li strong {
    color: #0056b3; 
    font-size: 1.3em; 
}


.homepage {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 50px auto;
    text-align: left;
}

.homepage li {
    margin-bottom: 30px;
    font-size: 1.2em;
}

.homepage li strong {
    display: block;
    color: #0056b3;
    font-size: 1.4em;
    margin-bottom: 10px;
}