body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b0cae7;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.users-container {
    text-align: center; /* Centre le titre et la liste */
    width: 100%;
}

.users-container h1 {
    color: #596066;
}

.users-list {
    display: inline-block; /* Permet le centrage du bloc */
    text-align: left; /* Aligner le texte des éléments de la liste à gauche */
    
}

.users-list ul {
    border: 15px solid #596066; /* Couleur de bordure (ajustez selon votre palette de couleurs) */
    display: inline-block; /* Pour s'assurer que la bordure entoure le contenu */
    padding: 10px; /* Espacement à l'intérieur de la bordure */
    margin: 20px 0; /* Espacement autour de la liste */
}

.users-list li {
    display: flex;
    flex-direction: row;
    list-style-type: none; /* Supprimer les puces */
    border: 6px solid #4f5a65;
    padding: 15px;
    margin-bottom: 5px; /* Espacement entre les éléments */
    text-align: left; /* Alignement du texte */
}
.users-list img {
    height: 30px;
    padding-left: 30px;
}
.users-list span:nth-child(+n +2) {
    display: flex;
    align-items: center;
}

ul {
    padding: 0; /* Retirer le padding par défaut de la liste */
}

li {
    list-style-type: none; /* Supprimer les puces de la liste */
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
}


header{
    background-color: #4f5a65;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #384F69;
    padding: 10px 20px;
    vertical-align: bottom;
}

.users-list{
   text-align: center;
}

.site-title {
    text-decoration: none;
    height: 5em;
}
.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribuer l'espace uniformément */
    align-items: center;
    margin: 0;
    height: 100%;
}

.nav-list img {
    height: 40px;
}

.nav-item {
    margin: 0; /* Ajustez selon vos besoins */
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    color: #8595A8;
    font-weight: bold;
}

.nav-link:hover {
    color: #5957b1;
}

.login {
    background-color: #000;
}
header h1{
    color: white;
    margin-top: 22px;
}

h1 {
    font-size: 2em;
    margin-top: 50px;
    color: #5b6168;
}

h2 {
    font-size: 1.4em;
    margin-top: 10px;
    color: #4f5a65;
}

.titlecreateuser {
    font-size: 2.0em;
    margin-top: 10px;
    color: #4f5a65;
}

ul {
    list-style-type: none; 
    padding: 0;
    color: #2e3134;
    max-width: 600px; 
    margin: 0 auto; 
}

li {
    margin-bottom: 25px; 
    text-align: left; 
    font-size: 1.2em; 
}

strong {
    color: #0056b3; 
    font-size: 1.3em; 
}


.homepage {
    list-style-type: none;
    padding: 0;
    max-width: 1000px;
    margin: 70px auto;
    text-align: left;
}

.homepage li {
    margin-bottom: 15px; /* Réduit l'espace entre les éléments de la liste */
    font-size: 1.2em;
    position: relative;
}





.homepage li strong {
    display: block;
    color: #0056b3;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.homepage .image-container {
    margin: 0 auto; /* Élimine la marge autour du conteneur d'image */
    padding: 0; /* Élimine le remplissage autour de l'image */
    margin-top: -10%;
    margin-bottom: -12%;
    overflow: hidden;
    display: inline-block;
}

.homepage img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    padding-top: 1px;
    transform: scale(0.5); 
    display: block; 
}


#openldapimg img {
    clip-path: inset(0 0 13% 0);
}

#nextcloudimg img{
    clip-path: inset(13% 0 13% 0);
}

.grid-dolphin-logo {
    display: flex;
    flex-direction: column;



}
form {
    background-color: #669cda;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 200px 10px 200px; /* Haut: 0, Droite: 10px, Bas: 10px, Gauche: 158px */
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Garantit que le padding ne modifie pas la largeur */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    color: #333;
}

.errorpopup{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #72222D;
    height: 4vw;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #19222D;
    height: 4vw;
}
